
    .container {
    background-color: hsl(0, 0%, 90%);
    margin-left: 30px;
    margin-left: 250px; 
    margin-right: 250px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
 }
  h1{
margin-left: 30px;
 }
 p{
    margin-left: 30px;
    margin-top: 20px;
     }
  .containera{
margin-left: 30px;
width: 90%;
margin-top: -10px;
  }  
 .input1a{
    margin-left: 30px;
width: 40%;
margin-top: -10px;
 }

 
 .input2{
    margin-left: 30px;
    
    margin-top: -68px;
    margin-left: 55%;
 }
 .input2a{
    width: 90%;
    margin-top: -10px;
 }
 
.input5a{
   margin-left: 30px;
   width: 92%;
   margin-top: -10px;
}


.input8a{
   margin-left: 30px;
   width: 40%;
   margin-top: -10px;
   background-color: white;
}
.input9{
   margin-left: 30px;
   
   margin-top: -68px;
   margin-left: 55%;
}
.input9a{
   width: 90%;
   margin-top: -10px;
   background-color: white;
   border-color: black;

}
.input10{
   width: 30%;
   margin-left: 55%;
   background-color: white;
}



/* 
.main {
    text-align:center;
    
}
.marq {
    padding-top:-10px;
    padding-bottom:-40px;
    border-style:outset;
    border-width:10px;
    border-color:orange;
}
.geek1 {
    font-size:26px;
    font-weight:bold;
    color:white;
    padding-bottom:10px;
}
    .geek2 {
    font-size:15px;
    font-weight:bold;
    color:yellow;
    padding-bottom:10px;
}

 */









/* 
<!-- 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="forms.css">
</head>
<body>
    <div class="container">
        <h1>JOB</h1>
        <form>
        <p>Application For*</p>
        <div class="container1">
           
              <label for="country"></label>
             <select class="containera" id="country" name="country">
                <option value="Job A">Job A</option>
                <option value="Job B">Job B</option>
               <option value="Job C">Job C</option>
              </select>
        </div>
        <div class="container2">
            <h1>Personal Data </h1>
            <div class="input1"> 
                <p>First Name*</p>
                <input class="input1a" type="text">
            </div>

                <div class="input2">
                    <p class="input2b">Family Name*</p>
                     <input class="input2a" type="text">
                </div>
            
                <div>
                    <p class="input1">Citizenship</p>
               <input class="input1a" type="text">
                </div>
          
                <div class="input2">
                    <p class="input2b">Date Of Birth</p>
                     <input class="input2a" type="date">
                </div>
                <div class="input5">
                    <p class="input5b">Address</p>
                     <input class="input5a" type="text">
                </div>
                <div class="input1">
                    <p class="input1b">Phone*</p>
                     <input class="input1a" type="text">
                </div>
                <div class="input2">
                    <p class="input2b">Phone*</p>
                     <input class="input2a" type="text">
                </div>
            </div> 
            <div>
                <h1>
                    Application Documents
                </h1>
                <div class="input8">
                    <p class="input8b">Application Letter</p>
                     <input class="input8a" type="file">
                </div>
                <div class="input9">
                    <p class="input9b">Curriculum Letter</p>
                     <input class="input9a" type="file">
                </div>
                <p>File Choice of minimum 50MB </p>
                <button type="submit" class="input10">Submit Application</button>
            </div>
        </form>   
    </div>

</body>
</html>
 --> */
